body{
  color:  rgb(0, 0, 0) ;
  background: rgb(154 203 233);
  margin: 0px;
  font-family: "Trade Winds", system-ui;
  margin-bottom: 100px;
} 

p{ text-align: start;}

header {
  border-bottom:solid 2px white;
padding: 10px;
font-size: 45px;
}  

.chamada{
  background:rgb(54 139 191);
  padding-bottom: 30px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

div{
  margin-right: 390px;
  font-size: 35px;

}

.categoria-videos{
display: flex;
overflow-x: auto;
gap: 10px;

}

.categoria{
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}

.categoria-videos img{
opacity: 0.5;
height:150px;
}
.categoria-video img:hover {
opacity: 1.0;
border: 1px solid rgb(26, 26, 71)

}