body{
  color:  rgb(0, 0, 0) ;
  background: rgb(154 203 233);
  margin: 0px;
  font-family: "Trade Winds", system-ui;
} 

p{ text-align: start;}

header {
  border-bottom:solid 2px white;
padding: 10px;
font-size: 45px;
}  

.chamada{
  background:rgb(54 139 191);
  padding-bottom: 30px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

div{
  margin-right: 390px;
  font-size: 35px;

}

img{
height:150px;

}


.categoria-videos{
display: flex;
overflow-x: auto;
gap: 10px;

}

.categoria{
padding-left: 20px;
padding-right: 20px;
}

.categoria-videos img{
opacity: 0,5;



}